<!DOCTYPE html>
<html>

<head th:fragment="default (title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${title}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/normalize.css/3.0.2/normalize.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/foundation/5.5.2/css/foundation.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/epic.css}" media="screen" />
	
	<script type="text/javascript" th:src="@{/webjars/modernizr/2.8.3/modernizr.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/foundation/5.5.2/js/foundation.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/webcomponentsjs/0.6.1/webcomponents.min.js}"></script>
	
	<link rel="import" th:href="@{/webjars/polymer/0.5.6/polymer.html}" />

	<span layout:fragment="pageHead" th:remove="tag">
	</span>
		
</head>

</html>